*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*nav*/
/*cabeçalho e links*/
.navbar{
    display: flex;
    align-items: center;
    background-color: #53bfc5;
    padding: 3vh 4vw;
}

/*imagem do mindspace (nav)*/
.logo{
    display: flex;
    justify-content: flex-start;
}

.logo img{
    height: 6vh;
    width: 10vw;
}

/*links*/
.nav-links{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-left: 5vw;
}

.nav-links li{
    margin: 0 1vw;
}

.nav-links a{
    text-decoration: none;
    color: #000000;
    font-size: 1.2vw;
    transition: 0.7s;
}

.nav-links a:hover{
    color: rgba(255, 255, 255, 0.664); 
}


.separator{
    height: 2em;
    width: 0.2vw;
    background-color: #ffffff77;
    margin: 0 2.7vw;
}

/*botões*/
.nav-links-2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;  
    font-size: 1.2vw;
}

.nav-links-2 a{
    text-decoration: none;
    padding: 1vh 2vw;
}

.btn-login{
    color: #000000;
    transition: 0.7s;
}

.btn-login:hover{
    color: rgba(255, 255, 255, 0.664); 
}

.btn-login-2{
    display: inline-block;
    background-color: #000000;
    color: #ffffffec;
    border-radius: 12px;
    text-align: center;
    transition: 0.7s;
}

.btn-login-2:hover{
    background-color: #838383a1;
}



/*main*/
/*apresentação do mindspace*/
.home-page{
    display: block;
    background-color: #ecebeb46;
}

.home-container-1{
    text-align: center;
}

/*imagem do mindspace (main)*/
.home-container-1 img{
    padding: 7vh 34vw;
    max-height: 50vh;
    max-width: 30vw;
}

/*textos apresentação do mindspace*/
.home-container-1 h1{
    padding: 1vh 20vw;
    font-size: 2.8vw;
}

.home-container-1 h2{
    padding: 1vh 20vw;
    font-size: 1.5vw;
}

/*aba nossos colaboradores*/
.home-colaboradores{
    margin-top: 17vh;
    background-color: #8d8d8d1e;
}

.titulo{
    text-align: center;
    margin: 0 30vw;
    padding-top: 6vh;
    font-size: 2.8vw;
    border-bottom: 2px solid #13131379;
    color: #13131379;
}


.home-container-2{
    display: flex;
    margin-top: 13vh;
    overflow: hidden;
    padding-bottom: 15vh;
}

/*imagens dos colaboradores*/
.colaboradores{
    position: relative;
    margin: 0 4vw;
    animation: scroll-colaboradores 20s linear infinite;
}

.colaboradores img{
    height: 70vh;
    width: 22vw;
    border-radius: 3vw;
}

/*infomações dos colaboradores*/
.colaboradores .info-colaboradores{
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.nome{
    font-size: 1.7vw;
    color: #ebebeb;
}

.formacao{
    font-size: 1.2vw;
    color: #ebebeb;
}

.btn-mais{
    display: inline-block;
    background-color: #b3b3b31e;
    border-radius: 17px;
    text-align: center;
    padding: 2vh 3vw;
    border: 2px solid #ebebebe0;
    transition: 1s;
    cursor: pointer;
    color: #ffffffec; 
    margin-top: 0.5vh;
}

.btn-mais:hover{
    background-color: #2c2c2c96;
}

.saiba-mais a{
    text-decoration: none;
}

.saiba-mais input{
    font-size: 1vw;
}

/*rodapé*/
.footer{
    display: flex;
    align-items: center;
    background-color: #ecebeb46;
    padding: 2vh 6vw;
}

.logo-footer{
    display: flex;
    position: relative;
}

.logo-footer img{
    height: 6vh;
    width: 12vw;
}


.footer-copy{
    display: flex;
    position: absolute;
    bottom: -7.5vh;
    left: -4vw;
}


.footer-copy a{
    text-decoration: none;
    color: #13131379;
    font-size: 1vw;
    transition: 0.7s;
    padding: 0 1vw;
}

.footer-copy a:hover{
    color: #000000; 
}

.footer-copy p{
    color: #13131379;
    font-size: 1vw;
}

.redes-socias{
    margin-top: 15vh;
    margin-left: 0.3vw;
}

.redes-socias img{
    height: 4.5vh;
    width: 2.2vw;
    margin: 0 0.2vw;
}

.footer-links{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-left: 10vw;
}

.footer-links li{
    margin: 0 4vw;
}

.footer-links a{
    text-decoration: none;
    color: #000000;
    font-size: 1.2vw;
    transition: 0.7s;
}

.footer-links a:hover{
    color: #13131346; 
}



/*funcionalidade para imagens dos colaboradores*/
@keyframes scroll-colaboradores {
    from {
        transform: translateX(3vw);
    }
    to {
        transform: translateX(-207.3vw);
    }
}