/*telas de login*/
.login{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #53bfc5;
 }
 
.div-container{
     display: flex;
     justify-content: end;
     margin: 13vh 17vw;
     border-radius: 3vw;
     background-color: #87d4c6
 }
 
/*parte direita do login*/
.login-container{
     display: flex;
     align-items: center;
     flex-direction: column;
     height: 70vh;
     width: 45vw;
     border-radius: 3vw;
     background-color: #ffffff;
 }
 
.login-imagem{
     display: flex;
     margin-top: 7vh;
 }
 
.login-imagem img{
     height: 20vh;
     width: 11vw;
 }
 
.login-dados{
     display: flex;
     flex-direction: column;
     margin-top: 6vh;
 }
 
.login-dados input{
     position: relative;
     padding: 0 1vw;
     width: 25vw;
     outline: none;
     border: none;
     font-size: 1.4vw;
     border-bottom: 0.2vw solid #636363
 }
 
.login-dados #senha{
     margin-top: 3vh;
 }

 .botoes-container{
    display: flex;
    margin-top: 8vh;
    gap: 15vw;
 }

.botoes-container a{
    text-decoration: none;
 }

.botoes-container #esqueceu-senha{
    margin-top: 1vh;
    font-size: 1.05vw;
    color: black;
    transition: 0.7s;
 }

#esqueceu-senha:hover{
    color: rgba(214, 214, 214, 0.863)
 }

.botoes-container #avançar{
    padding: 1vh 3vw;
    background-color: #87d4c6;
    color: #000000;
    border-radius: 12px;
    border: none;
    font-size: 1.2vw;
    text-align: center;
    cursor: pointer;
    transition: 0.7s;
 }

#avançar:hover{
    background-color: #87d4c693;
    color: rgba(0, 0, 0, 0.712)
}